#timer {
    position: absolute;
    z-index: 10;
}

#container {
    position: relative;
    height: 400px;
    width: 400px;
    margin: 0 auto;    
}

#display {
    position: absolute;
    top: 200px;
    text-align: center;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#controls {
    position: absolute;
    top: 270px;
    text-align: center;
    width: 100%;
    z-index: 20;
}